html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
}

#appHeader{
    background-color: cadetblue;
    height: 10%;
}

#mapDivContain{
    /* padding-top: 15%; */
    /* z-index: 0; */
    max-height: 60%;
    height: 56%;
    width: 100%;
}
#mapDiv {
    background-image: url(map.JPEG);
    /* padding-top: 10%; */
    background-size: cover;
    /* z-index: 0; */
    /* max-height: 100%; */
    height: 100%;
    width: 100%;
}

#currentScene{
    background-color: darkcyan;
    max-height: 50%;
    height: 100%;
    width: 100%;
}

#currentSceneName{
    padding-left: 22%;
    padding-top: 52px;
    font-size: 57px;
    font-family: sans-serif;
    color: whitesmoke;
}
.timeBtn{
    margin-left: 13%;
}

.actionBtn{
    box-shadow: 0 15px #999;
    border-radius: 200px;
    width: 300px;
    height: 300px;
}

.actionBtn:active {
    background-color: #526452;
    box-shadow: 0 6px #666;
    transform: translateY(10px);
  }

#skipBtn{
    margin-left: 100px;
}

button{
    font-size: -webkit-xxx-large;
    /* right: 0; */
    height: 200px;
    width: 406px;
    background-color: aliceblue;
    /* position: absolute; */
}
#actionBtns{
    padding-top: 100px;
}
.mapBtn{
    position: relative;
    width: 30px;
    height: 30px;
    background-size: 0;
    background-color: transparent;
    border-radius: 25px;
  }